html{
    height: 100%;
    background: radial-gradient(circle,#fff,#ccc);
}
#container{
    height: 600px;
    width: 750px;
    background-color: skyblue;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 0px blue;
    position: relative;
}
#score{
    background-color: #f1ff92;
    color: black;
    padding: 11px;
    position: absolute;
    left: 700px;
    box-shadow: 0px 4px 0px #9da853;
}
#correct{
    position: absolute;
    left: 260px;
    background-color: green;
    color: #fff;
    padding: 11px;
    display: none;
}
#Wrong{
    position: absolute;
    left: 260px;
    background-color: red;
    color: #fff;
    padding: 11px;
    display: none;
}
#fruitscontainer{
    height: 400px;
    width: 650px;
    margin: 50px auto 10px auto;
    background-color: white;
    box-shadow: 0px 4px #535aa8;
    font-size: 100px;
    text-align: center;
    font-family: cursive,sans-serif;
    color: black;
    position: relative;
    overflow: hidden;
}
#instruction{
    width: 450px;
    height: 50px;
    background-color: #b481d9;
    text-align: center;
    margin:10px auto;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 45px;
    box-shadow: 0px 4px #8153a8;
}
#choices{
    width: 450px;
    height: 100px;
    margin: 5px auto;
}
.box{
    width: 85px;
    height: 85px;
    background-color: white;
    float: left;
    margin-right: 36px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 80px;
    transition: all 0.2s;
}
.box:hover{
    background-color: #9c89f6;
    color: white;
    box-shadow: 0px 4px #6b54d3;
}
.box:active,#startreset:active{
    box-shadow: 0px 0px #6b54d3;
    top: 4px;
}
#box4{
    margin-right: 0px;
}
#startreset{
    width: 80px;
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
    margin: 0px auto;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: all 0.2s;
    cursor: pointer;

}
#startreset:hover{
    background-color: #9c89f6;
    color: white;
    box-shadow: 0px 4px #6b54d3;
}
#trialsleft{
    background-color: #f1ff92;
    width: 80px;
    padding: 10px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    /*visibility: hidden;*/
    display: none;
     /* difference between visiblity hidden and display none is when visiblity is hidden that element is still present in page*/
}
#gameover{
    height: 200px;
    width: 500px;
    background: linear-gradient(#f3ca6b,#f3786c);
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 170px;
    left: 145px;
    z-index: 2;
    display: none;
}
.life{
    height:16px;
    width:16px;
    margin:0 5px;
}
#fruit1{
    display: none;
    position: absolute;
}